/.vscode

# python
*.pyc
__pycache__
.pytest_cache
.mypy_cache

# setuptools
*.egg-info
/build
/dist

# scr trying to install geckodriver
geckodriver
geckodriver.log

# selenium driver autoinstalls
/scr/selenium_drivers

# scr dev stuff
/tmp
*.tmp
